.image {
  width: 100%;
  height: 195px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.container {
  border-radius: 5px;
  width: 250px;
  height: 355px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 25px 20px;
}

.container div {
  width: 100%;
  margin: auto;
}

.container div div:first-child {
  display: flex;
  justify-content: space-between;
}

.container div div:first-child p {
  font-size: 1.2rem;
  margin-left: 10px;
  font-weight: 600;
}

.container div div:first-child span {
  margin-top: 8px;
  margin-right: 15px;
}

.boxDes {
  width: 100%;
  margin-bottom: 50px;
}

.boxDes p {
  width: 200px;
  height: 30px;
  color: #717171;
  margin-top: 5px;
  margin-left: 11px;
  font-size: 0.8rem;
}

.boxPrice {
  width: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxPrice div span {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

.boxPrice p {
  display: flex;
  margin-top: 10px;
  margin-right: 15px;
}

.boxPrice p button {
  margin: 0 8px;
}

.boxPrice p span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  padding: 0 7px;
  background-color: #0a369d;
  border-radius: 15px;
}

.detail p {
  margin-left: 15px;
  margin-top: 5px;
}

.skeleton {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 355px;
}
