.container {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: #d2d2d23b;
}

.container div:first-child {
  display: flex;
}

.container div:last-child {
  display: flex;
}

.container div:last-child button {
    position: absolute;
}

.container div:last-child span {
  font-size: 0.85rem;
  font-weight: 700;
  position: relative;
  color: #fff;
  border-radius: 15px;
  padding: 1px 6px;
  background-color: rgba(220, 96, 46, 0.9);
  left: 16px;
  top: 11px;
}

.container div:last-child div p {
    margin-right: 10px;
    margin-left: 22px;
    font-weight: 600;
}

.container div ul {
  display: flex;
}

.container div ul li:first-child {
  margin-left: 250px;
}

.container div ul li {
  margin-left: 30px;
  cursor: pointer;
  font-weight: 500;
  color: #383737;
}

.logo {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
