.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 25px 0 0 50px;
  color: #0a369d;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  /* height: 80vh; */
}
